<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Titanic Project</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
    
      body {
          background-color: #f3c8c8 ;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark text-white">
        <h3>Titanic Passenger Survived System</h3>
    </nav>
    {% if result == 0 %}
    Not Survived
    {% endif %}
    {% if result == 1 %}
    Survived
    {% endif %}
   
    <form method="POST" action="/predict">
        <label>Pclass</label>
        <input type="value" name="Pclass" placeholder="Enter Pclass" required><br>

        <label>Sex</label>
        <input type="value" name="Sex" placeholder="Enter Sex" required><br>

        <label>Age</label>
        <input type="value" name="Age" placeholder="Enter Age" required><br>

        <label>Sibsp</label>
        <input type="value" name="Sibsp" placeholder="Enter Sibsp" required><br>

        <label>Parch</label>
        <input type="value" name="Parch" placeholder="Enter Parch" required><br>

        <label>Fare</label>
        <input type="value" name="Fare" placeholder="Enter Fare" required><br>

        <label>Embarked</label>
        <input type="value" name="Embarked" placeholder="Enter Embarked" required><br>





        <input type="submit" value="Predict"><br><br>

        
    </form>

</body>
</html>